.chat-space
  .chat-space__group-section
    .names
      .names__group
        test
      .names__member
        Member : test
    = link_to "#", class: "edit-group" do
      Edit 
  .chat-space__view
  .chat-space__form