.chat-space
  .chat-space__group-section
    .names
      .names__group
        test
      .names__member
        Member : test
    = link_to "#", class: "edit-group" do
      Edit 
  .chat-space__view
    .message-wrap
      .message-wrap__info
        .message-wrap__info--name
          user1
        .message-wrap__info--date
          2020/04/08(Wed) 18:32:34
      .message-wrap__body
        hello world 1
    .message-wrap
      .message-wrap__info
        .message-wrap__info--name
          user2
        .message-wrap__info--date
          2020/04/08(Wed) 18:33:42
      .message-wrap__body
        hello world 2
    .message-wrap
      .message-wrap__info
        .message-wrap__info--name
          user3
        .message-wrap__info--date
          2020/04/08(Wed) 18:34:57
      .message-wrap__body
        hello world 3
    
      
  .chat-space__form