.message-wrap
  .message-wrap__info
    .message-wrap__info--name
      = message.user.name
    .message-wrap__info--date
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .message-wrap__body
    - if message.body.present?
      %p.message-wrap__body--text
        = message.body
    = image_tag message.image.url, class: 'message-wrap__body--image' if message.image.present?
    