* {
  box-sizing: border-box;
}
.wrapper {
  display: flex;
}
.side-bar {
  width: 300px;
  color: #ffffff;
  font-weight: bold;
  &__top {
    background-color: #253141;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    .user-section {
      width: 260px;
      height: 20px;
      display: flex;
      justify-content: space-between;
      &__name {
        font-size: 16px;
        height: 20px;
        line-height: 20px;
      }
      &__icons {
        width: 60px;
        height: 20px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        &--edit {
          text-decoration: none;
          margin-right: 5px;
          color: #ffffff;
        }
        &--cog {
          text-decoration: none;
          color: #ffffff;
        }
      }
    }
  }
  &__list {
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    .group-section {
      padding: 20px 20px 40px 20px;
      &__name {
        font-size: 15px;
        padding-bottom: 5px;
      }
      &__message {
        font-size: 11px;
      }
    }
  }
}
.chat-space {
  background-color: #ffffff;
  width: calc(100% - 300px);
  &__group-section {
    height: 100px;
    background-color: #ffffff;
    border-bottom: 1px solid #eeeeee;
    display: flex;
    justify-content: space-between;
    .names {
      padding: 35px 0 0 40px;
      &__group {
        font-size: 20px;
        color: #333333;
        padding-bottom: 15px;
      }
      &__member {
        font-size: 12px;
        color: #999999;
      }
    }
    .edit-group {
      color: #38aef0;
      font-size: 16px;
      border: 1px solid #38aef0;
      text-decoration: none;
      padding: 0 20px;
      margin-right: 40px;
      margin-top: 28px;
      width: 72px;
      height: 40px;
      line-height: 40px;
    }
  }
  &__view {
    height: calc(100vh - 190px);
    background-color: #fafafa;
    padding: 46px 40px;
    .message-wrap {
      &__info {
        display: flex;
        margin-bottom: 12px;
        &--name {
          color: #333333;
          font-size: 16px;
        }
        &--date {
          color: #999999;
          font-size: 12px;
        }
      }
      &__body {
        color: #434a54;
        font-size: 14px;
        margin-bottom: 46px;
      }
    }
  }
  &__form {
    background-color: #d2d2d2;
    .form-container {
      padding: 20px 40px;
      display: flex;
      height: 90px;
      &__wrap {
        width: 100%;
        display: flex;
        position: relative;
        .form-text {
          padding-left: 10px;
          width: 100%;
          height: 50px;
          border-style: none;
        }
        .form-icon {
          position: absolute;
          right: 10px;
          line-height: 50px;
          &__file {
            display: none;
          }
        }
      }
      &__submit {
        width: 100px;
        padding: 0 30px;
        color: #ffffff;
        background-color: #38aef0;
        margin-left: 15px;
        height: 50px;
      }
    }
  }
}
