* {
  box-sizing: border-box;
}
.wrapper {
  display: flex;
}
.side-bar {
  width: 300px;
  color: #ffffff;
  font-weight: bold;
  &__top {
    background-color: #253141;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    .user-section {
      width: 260px;
      height: 20px;
      display: flex;
      justify-content: space-between;
      &__name {
        font-size: 16px;
        height: 20px;
        line-height: 20px;
      }
      &__icons {
        width: 60px;
        height: 20px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        &--edit {
          text-decoration: none;
          margin-right: 5px;
          color: #ffffff;
        }
        &--cog {
          text-decoration: none;
          color: #ffffff;
        }
      }
    }
  }
  &__list {
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    .group-section {
      padding: 20px 20px 40px 20px;
      &__name {
        font-size: 15px;
        padding-bottom: 5px;
      }
      &__message {
        font-size: 11px;
      }
    }
  }
}
.chat-space {
  background-color: #ffffff;
  width: calc(100% - 300px);
  &__group-section {
    height: 100px;
    background-color: #ffffff;
    border-bottom: 1px solid #eeeeee;
  }
  &__view {
    height: calc(100vh - 190px);
    background-color: #fafafa;
  }
  &__form {
    height: 90px;
    background-color: #d2d2d2;
  }
}
